body{

}


@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/Poppins-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

h3,h4,h5,.navbar-brand{ font-family: 'Poppins-Black';}
p,button,input,textarea,li{font-family: 'Poppins-Regular';line-height: 11px;font-size: 13px}


.navbar{
    background-color: white;
}
#header-down{
    padding-top: 150px;
    padding-bottom: 200px;
}
#job-place{
    background-image: url(../images/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 150px;
}


#provide{
    background-image: url(../images/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    padding-top: 300px;
    padding-bottom: 300px;
}

#visit-blog-btn{margin-top: 300px}


#exampleMessage{height: 100px;}
#blog-con{padding-top: 200px;padding-bottom: 500px}



@media only screen and (max-width: 900px){
 #provide,#job-place{background-image: unset;background-color: black}
}